body {
  background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  );
  margin: 0;
}

p {
  line-height: 1.6em;
  color: #eee;
}

section {
  position: relative;
  min-height: 80vh;
}

.menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.menu li {
  display: inline-block;
}

.menu {
  display: none;
}
